<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/style/style.css' />
  </head>
  <body>
    <header></header>
    <main>
        <h1><%= title %></h1>
        <p>youthUp Blog Server Welcome to you</p>
    </main>
   <header></header>
  </body>
</html>
